<h3>
    <a href="/employee" class="btn btn-primary mr-4">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Create New
    </a>
    Employee List
</h3>
<table class="table table-striped ">
    <thead class="">
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        
        <tr>
            <td>{{this.fullName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.mobile}}</td>
            <td>{{this.city}}</td>
            <td>
                <a href="/employee/{{this.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a href="/employee/delete/{{this.id}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>